{% extends "base.html" %}
{% load i18n %}

{% block title %}OpenStack - Super admin{% endblock %}

{% block javascript %}
var theme = 'default';
$(document).ready(function() {

    getDataListUsers();
    get_admin();
    get_counter();

    $('#addUserButton').click( function() {
        document.getElementById('errorAddingSuperAdmin').innerHTML = "";
        $('#searchInput').val('');
    });

    $('#addGroupButton').click( function() {
        document.getElementById('errorAddingGroup').innerHTML = "";
        $('#groupInput').val('');
        $('#descInput').val('');
    });

    $('#addingButton').click(function() {
        addSuperAdmin( $('#searchInput').val(), 'add');
    });

    $('#addingGroupButton').click(function() {
        if ( $('#groupInput').val() != '' ) {
            addGroup();
        }
    });

    $('#searchInput, #groupInput').keypress( function() {
        document.getElementById("errorAddingSuperAdmin").innerHTML = "";
        document.getElementById("errorAddingGroup").innerHTML = "";
    });

    //light saber
    $(".slidingDiv").hide();
    $(".show_hide").show();
    $(".slidingDiv").slideToggle();
    $('.show_hide').click(function(){
        $(".slidingDiv").slideToggle();
    });

    $('#show_hide_special').click(function() {
        if (theme == 'default') {
            theme = 'special';
        }
        else {
            theme = 'default';
        }
        show_special_theme(theme);
    });
});

function show_special_theme(status) {
    $("#table_id").DataTable().ajax.reload();
    if (status == 'special') {
        $('#meta').html('<link href="/static/css/lightSaber.css" rel="stylesheet" media="screen">');
        $('#show_hide_special').attr('style', 'color: #888;');
        $('#addUserButton').text('Add a jedi master');
        $('#myModalLabel').text('Add a jedi master');
        //alert
        $('#alert').html('<img align="center" src="/static/fonts/yoda.jpg" style="vertical-align: middle;"><h1 style="color: #00ff00;"><strong>Delete yourself you must not ! A padawan you are not...</strong></h1>');

        //image and background
        $('body').attr('style', "background: url('/static/fonts/test.jpg'); background-size: 100%; color: #888;");
        <!--$('.dataTables_wrapper').css("background-image", "url('http://www.wall321.com/thumbnails/detail/20120304/star%20wars%20galaxies%20death%20star%201920x1200%20wallpaper_www.wall321.com_15.jpg')");-->
        $('#lateral').attr('src', '');
        //

        $('#h2special').removeAttr('hidden');
        $('.panel-body').attr('style', "background: url('/static/fonts/test.jpg');");
        $('body').css('cursor', 'crosshair');
        <!--$("#table_id").DataTable().ajax.reload();-->
        <!--get_counter();-->
    }
    else {
        $('#meta').html('');
        $('#show_hide_special').attr('style', 'color: #333;');
        $('#addUserButton').text('Add a super admin');
        $('#myModalLabel').text('Add a super admin');
        <!--$('#errorMessage').val("You can not delete yourself !");-->

        $('#alert').html('<div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title" style="color: red;">ERROR</h4></div><div class="modal-body"><div style="text-align:center;"><p id="errorMessage" style="color: red;"><strong>You can not delete yourself !</strong></p></div></div></div></div>');
        $('#lateral').attr('src', '/static/fonts/openstack-lal-s-vertical.png');
        $('body').attr('style', 'background-color: #fff;');
        $('#h2special').attr('hidden', '');
        $('body').css('cursor', '');
        $('.panel-body').attr('style', "background: '';");
    }
}

function sortOnKeys(dict) {
    var sorted = [];
    for(var key in dict) {
        sorted[sorted.length] = key;
    }
    sorted.sort(function (a, b) {
        return a.toLowerCase().localeCompare(b.toLowerCase());
    });

    var tempDict = {};
    for(var i = 0; i < sorted.length; i++) {
        tempDict[sorted[i]] = dict[sorted[i]];
    }

    return tempDict;
}

function getDataListUsers() {
    var datas = [];
    var liste = $("#inputDataList");
    liste.find('option').remove().end();

    $.getJSON(location.pathname + "?format=json&email=bar").done(
        function(json) {
            datas = sortOnKeys(json.users);
             $.each(datas, function(index, value) {
                liste.append('<option value="' + index + '">'+value+'</option>>');
                liste.append('<option value="' + index + '">'+index+'</option>>');
            });
        }
    );
}

function get_counter() {
    $.ajaxSetup({
        beforeSend : function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}" );
        }
    });
    $.ajax({
        url: location.pathname,
        type: 'GET',
        data: { 'format': 'json' },
        success: function(json) {
            if (json.counter > 0) {
                <!--$('#lightmain').attr('style', 'background: linear-gradient(to right, blue saberHeight,rgba(255,255,255,1) 54%,blue 100%); box-shadow: 0 1px 24px blue');-->
                saberHeight = 100 - ( 100 - json.counter);
                if ( saberHeight > 100 ) {
                    saberHeight = 100;
                }
                saberHeight = saberHeight + '%';

                color = 'background: linear-gradient(to right, blue 0%,rgba(255,255,255,1) 54%,blue 100%); box-shadow: 0 1px 24px blue';
                <!--console.log(saberHeight);-->

                <!--$('#lightmain').css({'background': saberHeight});-->
                $('#lightmain').attr('style', color);
                $('#lightmain').css({ 'height': saberHeight });
            }
            else if (json.counter < 0) {
                saberHeight = 100 - ( 100 - ( json.counter * -1 ));
                if ( saberHeight > 100 ) {
                    saberHeight = 100;
                }
                saberHeight = saberHeight + '%';
                $('#lightmain').css({ 'height': saberHeight });
                <!--console.log("-");-->
            }
            else if (json.counter == 0) {
                <!--console.log("neutral");-->
                <!--$('#lightmain').attr('style', 'background: linear-gradient(to right, white 0%,rgba(255,255,255,1) 54%,white 100%); box-shadow: 0 1px 24px white');-->
            }
        }
    });
}

function get_admin() {
    $("#table_id").DataTable( {
        ajax: {
            url: location.pathname + "?format=json&spec=dataTable",
            dataSrc: function (json) {
                $.each(json.list, function (index, value) {
                    value.icon = '<a style="color:red;" href=\''+"javascript:removeSuperAdmin(\""+value["uid"]+"\", \"remove\");'><span class='glyphicon glyphicon-remove'></span></a>";
                });

                return json.list;
            }
        },
        columns: [
            { data: 'icon'},
            { data: 'uid'},
            <!--{ data: 'mail'}-->
        ],
        order: [[ 0, 'desc' ]],
        iDisplayLength: 10,
        drawCallback: function (settings) {
            if ( theme == 'default') {
                colorLine();
            }
        },
        lengthMenu: [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "ALL"] ],
    });
}

function colorLine () {
    var numberOfRows;
    var eachRow;
    eachRow = document.getElementById('users_table').rows
    numberOfRows = eachRow.length;
    for (var i = 0; i < numberOfRows; i++) {
        if (eachRow[i].className == 'odd') {
            eachRow[i].setAttribute('style', 'background: #f3f3f3');
        }
        else {
            eachRow[i].removeAttribute('style');
        }
    }
}

function addSuperAdmin(user, action) {
    $.ajaxSetup({
        beforeSend : function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}" );
        }
    });
    $.ajax({
        url: location.pathname,
        type: 'PUT',
        data: { 'format': 'json',
                'user': user,
                'action': action
        },
        success: function(json) {
            if (json.status == 'True') {
                document.getElementById('errorAddingSuperAdmin').innerHTML = "User '" + user + "' has been added to the Super Admin !";
                $('#searchInput').val('');
                $("#table_id").DataTable().ajax.reload();
            }
            else if (json.status == 'already') {
                document.getElementById("errorAddingSuperAdmin").innerHTML = "This user is already a Super Admin !";
            }
            else if (json.status == 'not exist') {
                document.getElementById("errorAddingSuperAdmin").innerHTML = "This user does not exist !";
            }
        }
    });
}

function removeSuperAdmin(user, action) {
    $.ajaxSetup({
        beforeSend : function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}" );
        }
    });
    $.ajax({
        url: location.pathname,
        type: 'PUT',
        data: { 'format': 'json',
                'user': user,
                'action': action
        },
        success: function(json) {
            $("#table_id").DataTable().ajax.reload();
            if (json.status == 'itself') {
                <!--alert('Delete yourself you must not ! A padawan you are not');-->
                $("#alert").modal('show');
            }
        }
    });
}

function addGroup() {
    $.ajaxSetup({
        beforeSend : function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}" );
        }
    });
    $.ajax({
        url: location.pathname,
        type: 'POST',
        data: { 'format': 'json',
                'group': $('#groupInput').val(),
                'desc': $('#descInput').val(),
        },
        success: function(json) {
            if (json.status == 'already') {
                document.getElementById('errorAddingGroup').innerHTML = "This group already exist !";
            }
            else if (json.status == 'change') {
                $('#groupInput').val(json.group);
                $('#descInput').val(json.desc);
                document.getElementById('errorAddingGroup').innerHTML = "Group name and/or description have changed; check the new one and click on add if it's convenient.";
            }
            else {
                document.getElementById('errorAddingGroup').innerHTML = "Group '" + $('#groupInput').val() + "' has been created !";
                $('#groupInput').val('');
                $('#descInput').val('');
            }
        }
    });
}

{% endblock %}

{% block css %}
<!--<link href="/static/css/lightSaber.css" rel="stylesheet" media="screen">-->
{% endblock %}

{% block lateral %}
<div id="lightsaber" class="purple">
    <div id="handle">
        <div id="handle-top"></div>
        <div id="handle-button"><a href="#" class="show_hide"></a></div>
        <div id="handle-middle"></div>
        <div id="handle-bottom"></div>
    </div>
    <div class="slidingDiv">
        <div id="light">
            <div id="lightcap"></div>
            <div id="lightmain"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div>
    <h1>Here you are on <a id="show_hide_special" style="color: #333;">super</a> admin page</h1>
    <h2 id="h2special" hidden>May the force be with you ! (be careful about the dark side you are a jedi master; not a padawan)</h2>
    <br />

    <div class="col-sm-12">
        <div class="row form-group">
            <div class="col-sm-4">
                <a href="#addUserFromGroup" id="addUserButton" type="button" class="btn btn-primary" data-toggle="modal" role="button">Add a super admin</a>
            </div>
            <div class="col-sm-4">
                <a href="#addGroup" id="addGroupButton" type="button" class="btn btn-primary" data-toggle="modal" role="button">Add a group</a>
            </div>
        </div><br />
        <div id="addUserFromGroup" class="modal in" tabindex="-1" role="dialog" style="text-align:center;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add a super admin</h4>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:left;">
                            <p><strong>You can search by username or email</strong></p>
                        </div>
                        <div class="form-group input-group col-sm-12">
                            <label class="control-label col-sm-2" style="line-height: 200%;">Search : </label>
                            <div class="col-sm-10">
                                <input id="searchInput" list="inputDataList" type="text" value="" class="form-control" />
                                <datalist id="inputDataList">
                                    <option selected>
                                </datalist>
                            </div>
                        </div>
                        <p id="errorAddingSuperAdmin" style="color: red;"></p>
                    </div>
                    <div class="modal-footer" id="foot">
                        <button id="addingButton" type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addGroup" class="modal in" tabindex="-1" role="dialog" style="text-align:center;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabe2">Add a group</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align:left;">
                        <p><strong>Type the name of the new group (letter and digit only, any other character will be removed):</strong></p>
                    </div>
                    <div class="form-group input-group col-sm-12">
                        <label class="control-label col-sm-3" style="line-height: 200%;">Group : </label>
                        <div class="col-sm-9">
                            <input id="groupInput" type="text" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group input-group col-sm-12">
                        <label class="control-label col-sm-3" style="line-height: 200%;">Description :</label>
                        <div class="col-sm-9">
                            <input id="descInput" type="text" value="" class="form-control" />
                        </div>
                    </div>
                    <p id="errorAddingGroup" style="color: red;"></p>
                </div>
                <div class="modal-footer" id="footGroup">
                    <button id="addingGroupButton" type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
    <div class="col-sm-12 panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title" align="center"><b>Members</b><br/>
                Login & email</h1>
        </div>
        <div class="panel-body">
            <div class="col-sm-1">

            </div>
            <div class="row col-sm-10">
                <table id="table_id" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                User
                            </th>
                            <!--<th>-->
                                <!--Email-->
                            <!--</th>-->

                        </tr>
                    </thead>
                    <tbody id="users_table">
                    </tbody>
                </table>
            </div>
		</div>
    </div>
</div>

<div id="alert" class="modal in" tabindex="-1" role="dialog" style="text-align:center;" aria-hidden="true">
    <!--<img align="center" src="/static/fonts/yoda.jpg" style="vertical-align: middle;">-->
    <!--<h1 style="color: #00ff00;"><strong>Delete yourself you must not ! A padawan you are not...</strong></h1>-->
    <!--<h1 style="color: red;"><strong>You can not delete yourself !</strong> *</h1>-->
    <!--<p style="color: red;">* click anywhere except these lines to hide this message</p>-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="color: red;">ERROR</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:center;">
                    <p id="errorMessage" style="color: red;"><strong>You can not delete yourself !</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}