{% load i18n %}

<div class="modal" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button id="closeButton" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change your password</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label id="actualPasswordLabel" class="control-label col-sm-4" style="color:red">Actual password *: </label>
                        <div id="actualPassword" class="col-sm-5 input-group">
                            <input id="actualPasswordInput" type="password" value="" class="form-control" placeholder="" aria-describedby="basic-addon1">
                            <span id="passwordIcon1" title="See password" class="btn btn-primary input-group-addon glyphicon glyphicon-eye-open"></span>
                        </div>
                    </div>
                    <!--<div id="form" hidden="hidden">-->
                    <div class="form-group">
                        <label id="newPasswordLabel" class="control-label col-sm-4" style="color:red">New password *: </label>
                        <div id="newPassword" class="col-sm-5 input-group">
                            <input id="newPasswordInput" type="password" value="" class="form-control" placeholder="" aria-describedby="basic-addon1">
                            <span id="passwordIcon2" title="See password" class="btn btn-primary input-group-addon glyphicon glyphicon-eye-open"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="passwordLabel" class="control-label col-sm-4" style="color:red">Retype new password *: </label>
                        <div id="password" class="col-sm-5 input-group">
                            <input id="reNewPasswordInput" type="password" value="" class="form-control" placeholder="" aria-describedby="basic-addon1">
                            <span id="passwordIcon3" title="See password" class="btn btn-primary input-group-addon glyphicon glyphicon-eye-open"></span>
                        </div>
                    </div>
                    <div>
                        <button id="checkPasswords" class="btn btn-primary" type="button">Check passwords</button>
                    </div>
                    <div>
                        <p id="errorPassword" style="color:red"></p>
                    </div>
                    <div>
                        <label id="infoPasswordLabel" class="control-label col-sm-6" style="font-style: italic;">* Password have to contains at least 8 characters and lowercase, uppercase, digit, special (at least 3/4) !</label>
                        </br>
                        </br>
                        </br>
                        </br>
                    </div>
                </form>
            </div>
        <div class="modal-footer" id="foot">
                <button id="clearButton" type="button" class="btn btn-default pull-left" style="">Clear</button>
                <!--<button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button id="changeButton" type="button" class="btn btn-primary" disabled="disabled">Change</button>
            </div>
        </div>
    </div>
</div>

